<div class="hotel-module" ng-controller="HotelModuleController">
	<div class="hotel-module-image">
		<img  ng-src="{{hotel.picture}}">
	</div>
	<div class="hotel-module-information">
		<h3>{{hotel.name}}</h3>
		<span class="stars">
			<i ng-repeat="star in getElements(hotel.rating) track by $index" class="fa fa-star fa-fw"></i>
		</span>
		<p>{{hotel.description}}</p>
		<h6>Servicios principales:</h6>
		<div class="row" >
			<span class="hotel-module-information-services" ng-repeat="service in hotel.services">
				<img class="imgIconModal col-md-2 col-sd-2" ng-src="{{service.icon}}">
				<span class="service-name col-md-3 col-sm-3">{{service.name}}</span>&nbsp;<span>|</span>
			</span>
		</div>
		<div class="hotel-module-reservation">
			<h6>Habitaciones disponibles:</h6>
			<span>{{hotel.rooms}}</span>
			<a href="" ng-click="updateHotelRoom(hotel.id)" class="btn btn-primary hotel-module-reservation-button">Reservar habitación</a>
		</div> 	
	</div>
</div>