	<div class="card-deck-wrapper">
		<div class="card-deck">
			<a ui-sref=".hotel-selected" ng-repeat="hotel in hotels">
				<div class="card hotel-card" id="{{hotel.id}}" >
					<div class="card-block">
						<div class="hotel-card-image"><img class="card-img-top" ng-src="{{hotel.picture}}"></div>
						<div class="hotel-card-content">
							<h6 class="card-header">{{hotel.name}}</h6>
							<div class="hotel-card-description">
								<p class="card-text">{{hotel.description | limitTo: 140}}<strong><span ng-if="hotel.description.length > 140">...</span></strong></p>
							</div>
							<div class="hotel-card-content-serviceBottom">
								<i ng-repeat="star in getElements(hotel.rating) track by $index" class="fa fa-star fa-fw"></i>
								<p>Servicios:</p>
								<span ng-repeat="service in hotel.services"><img class="imgIcon" ng-src="{{service.icon}}">&nbsp;</span> 
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>