<ul class="container">	
	<li class="hotel-wrapper row" ng-repeat="hotel in hotels">
		<div class="hotel-card-picture col-md-3 col-sm-5">
			<img ng-src="{{hotel.picture}}">
		</div> 
		<div class="hotel-card-content col-md-8 col-sm-6">
			<div class="hotel-card-name">
				<h3>{{hotel.name}}</h3>
			</div>
			<div class="hotel-card-description">
				{{hotel.description}}
			</div>
			<span class="stars">
				<i ng-repeat="star in getElements(hotel.rating) track by $index" class="fa fa-star fa-fw"></i>
			</span>
			<div class="hotel-card-content-footer row">
				<div class="hotel-card-content-services col-md-7 col-sm-12">
					<span ng-repeat="service in hotel.services">
						<img class="imgIcon" ng-src="{{service.icon}}">&nbsp;
					</span> 
				</div>
				<div class="call-to-action col-md-4 col-sm-12" ng-controller="HotelModuleController">
					<a href="" ng-click="hotelDialog(hotel)" class="btn btn-primary">View hotel</a>
				</div>
			</div>
			
		</div>
	</li>
</ul>